# Dictionary
- written with curly brackets, and stores data in key-value pair
- ordered
- Key should be unique, duplicate keys are not allowed 
- access the values, with help of keys
- Mutable/changable
- **As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [1]:
#Creating empty dictionary
d = {}

In [2]:
print(type(d))

<class 'dict'>

In [3]:
d1 = dict()

In [4]:
print(type(d1))

<class 'dict'>

In [5]:
d1

{}

# Create and print a dictionary

### Method1

In [88]:
emp = {101:'pooja',102:'Abhay',103:'Sahil',104:'twinkle',103:'Nam'}

In [8]:
print(emp)

{101: 'pooja', 102: 'Abhay', 103: 'Nam', 104: 'twinkle'}

### method2

In [89]:
# create a dic with list of tuples using dict()

detail = dict([('name','pooja'),('age',38),('salary',35000),('hobby',['coding','puzzle']),('gender','female')])

In [10]:
print(detail)

{'name': 'pooja', 'age': 38, 'salary': 35000, 'hobby': ['coding', 'puzzle'], 'gender': 'female'}

### Method3

In [90]:
#dict() constructor to make a dictionary , Key need not to be written in "" 
menu = dict(dishes=['maggi','pasta','pizza'],price=[20,30,50])

In [12]:
print(menu)

{'dishes': ['maggi', 'pasta', 'pizza'], 'price': [20, 30, 50]}

### Method4

In [13]:
d

{}

In [14]:
d['A']='Apple'

In [15]:
d

{'A': 'Apple'}

In [16]:
d['A'] = 'Appricot'

In [17]:
d

{'A': 'Appricot'}

In [18]:
d['B']='Banana'

In [19]:
d

{'A': 'Appricot', 'B': 'Banana'}

# Accessing elements
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [20]:
menu

{'dishes': ['maggi', 'pasta', 'pizza'], 'price': [20, 30, 50]}

In [21]:
menu['dishes']

['maggi', 'pasta', 'pizza']

In [22]:
emp

{101: 'pooja', 102: 'Abhay', 103: 'Nam', 104: 'twinkle'}

In [23]:
emp[102]

'Abhay'

In [24]:
detail

{'name': 'pooja',
 'age': 38,
 'salary': 35000,
 'hobby': ['coding', 'puzzle'],
 'gender': 'female'}

In [25]:
print(f"Name of person:: {detail['name']}\nHobbies:: {detail['hobby']}")

Name of person:: pooja
Hobbies:: ['coding', 'puzzle']

In [26]:
menu

{'dishes': ['maggi', 'pasta', 'pizza'], 'price': [20, 30, 50]}

In [33]:
print(f"Name of dish:: {menu['dishes'][0]}\nPrice \
of dish::Rs{menu['price'][0]}")

Name of dish:: maggi
Price of dish::Rs20

In [34]:
menu['dishes']

['maggi', 'pasta', 'pizza']

## get()

In [35]:
menu.get('dishes')

['maggi', 'pasta', 'pizza']

In [36]:
detail

{'name': 'pooja',
 'age': 38,
 'salary': 35000,
 'hobby': ['coding', 'puzzle'],
 'gender': 'female'}

In [37]:
detail.get('gender')

'female'

## Get Keys
The keys() method will return a list of all the keys in the dictionary.

In [38]:
menu.keys()

dict_keys(['dishes', 'price'])

In [41]:
list(detail.keys())

['name', 'age', 'salary', 'hobby', 'gender']

## Get Values
The values() method will return a list of all the values in the dictionary.

In [42]:
menu.values()

dict_values([['maggi', 'pasta', 'pizza'], [20, 30, 50]])

In [43]:
detail.values()

dict_values(['pooja', 38, 35000, ['coding', 'puzzle'], 'female'])

In [44]:
emp.values()

dict_values(['pooja', 'Abhay', 'Nam', 'twinkle'])

## Get Items
The items() method will return each item in a dictionary, as tuples in a list. Get a list of the key:value pairs

In [45]:
menu.items()

dict_items([('dishes', ['maggi', 'pasta', 'pizza']), ('price', [20, 30, 50])])

In [46]:
i,j=('dishes', ['maggi', 'pasta', 'pizza'])

In [47]:
i

'dishes'

In [49]:
j

['maggi', 'pasta', 'pizza']

# Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [50]:
emp

{101: 'pooja', 102: 'Abhay', 103: 'Nam', 104: 'twinkle'}

In [52]:
emp[103] = 'sahil'

In [53]:
emp

{101: 'pooja', 102: 'Abhay', 103: 'sahil', 104: 'twinkle'}

In [55]:
emp[105] = 'Nancy'

In [56]:
emp

{101: 'pooja', 102: 'Abhay', 103: 'sahil', 104: 'twinkle', 105: 'Nancy'}

In [57]:
menu

{'dishes': ['maggi', 'pasta', 'pizza'], 'price': [20, 30, 50]}

In [59]:
menu['dishes'] = ['maggi', 'pasta', 'pizza','noodles']

In [60]:
menu

{'dishes': ['maggi', 'pasta', 'pizza', 'noodles'], 'price': [20, 30, 50]}

In [62]:
menu['price'].append(70)

In [63]:
menu

{'dishes': ['maggi', 'pasta', 'pizza', 'noodles'], 'price': [20, 30, 50, 70]}

In [64]:
menu['drinks'] = ['orange juice','hot milk','shakes']

In [65]:
menu

{'dishes': ['maggi', 'pasta', 'pizza', 'noodles'],
 'price': [20, 30, 50, 70],
 'drinks': ['orange juice', 'hot milk', 'shakes']}

In [68]:
menu['drinks'][1] = 'Hot chocolate milk'

In [69]:
menu

{'dishes': ['maggi', 'pasta', 'pizza', 'noodles'],
 'price': [20, 30, 50, 70],
 'drinks': ['orange juice', 'Hot chocolate milk', 'shakes']}

# Removing Items
- pop() method removes the item with the specified key name
- popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead)
- del keyword removes the item with the specified key name as well as delete the dictionary completely
- clear() method empties the dictionary

In [71]:
emp

{101: 'pooja', 102: 'Abhay', 103: 'sahil', 104: 'twinkle', 105: 'Nancy'}

In [72]:
e1 = emp

In [73]:
e1 is emp

True

# Copy a Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [74]:
e2 = emp.copy()

In [75]:
e2 is emp

False

In [76]:
emp.popitem()

(105, 'Nancy')

In [77]:
emp

{101: 'pooja', 102: 'Abhay', 103: 'sahil', 104: 'twinkle'}

In [78]:
emp.pop(103)

'sahil'

In [79]:
emp

{101: 'pooja', 102: 'Abhay', 104: 'twinkle'}

In [80]:
e1

{101: 'pooja', 102: 'Abhay', 104: 'twinkle'}

In [81]:
e2

{101: 'pooja', 102: 'Abhay', 103: 'sahil', 104: 'twinkle', 105: 'Nancy'}

In [82]:
emp.clear()

In [83]:
emp

{}

In [84]:
e1

{}

In [85]:
del emp

In [86]:
emp

NameError: name 'emp' is not defined

# Dictionary Length:len() function

In [87]:
len(detail)

5

# while loop through dictionary is not possible

In [94]:
menu

{'dishes': ['maggi', 'pasta', 'pizza'], 'price': [20, 30, 50]}

In [99]:
k = list(menu.keys())
k

['dishes', 'price']

In [101]:
i =0 
while i <len(k):
    print(f"{k[i]}:::{menu[k[i]]}")
    i += 1

dishes:::['maggi', 'pasta', 'pizza']
price:::[20, 30, 50]

# for loop through dictionary

In [102]:
detail

{'name': 'pooja',
 'age': 38,
 'salary': 35000,
 'hobby': ['coding', 'puzzle'],
 'gender': 'female'}

In [105]:
for x in detail:
    print(x)

name
age
salary
hobby
gender

In [109]:
for x in detail.keys():
    print(x)

name
age
salary
hobby
gender

In [106]:
for x in detail:
    print(x,detail[x])

name pooja
age 38
salary 35000
hobby ['coding', 'puzzle']
gender female

In [107]:
for x in detail:
    print(detail[x])

pooja
38
35000
['coding', 'puzzle']
female

In [108]:
for x in detail.values():
    print(x)

pooja
38
35000
['coding', 'puzzle']
female

In [110]:
for x in detail.items():
    print(x)

('name', 'pooja')
('age', 38)
('salary', 35000)
('hobby', ['coding', 'puzzle'])
('gender', 'female')

In [111]:
for k,v in detail.items():
    print(k,":::",v)

name ::: pooja
age ::: 38
salary ::: 35000
hobby ::: ['coding', 'puzzle']
gender ::: female

************************************************** 
                      MENU
**************************************************
           Dishes          Prices
           maggi            100
           pasta            120
           pizza            150

In [126]:
menu

{'dishes': ['maggi', 'pasta', 'pizza', 'sandwitch'], 'price': [20, 30, 50, 80]}

In [127]:
menu.values()

dict_values([['maggi', 'pasta', 'pizza', 'sandwitch'], [20, 30, 50, 80]])

In [128]:
print("*"*50,"\n",'MENU'.center(50),"\n","*"*50)
print(" "*10,"DISHES"," "*10,'PRICE')
v= list(menu.values())
for i in range(len(v[0])):
    print(" "*10,v[0][i]," "*11,"Rs",v[1][i])

**************************************************
                        MENU
 **************************************************
           DISHES            PRICE
           maggi             Rs 20
           pasta             Rs 30
           pizza             Rs 50
           sandwitch             Rs 80

Questions on dictionary:
1. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value
        keys = ['Ten', 'Twenty', 'Thirty']
        values = [10, 20, 30]
        Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
2. Merge two Python dictionaries into one
       dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
       dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
      Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
3. Delete a list of keys from a dictionary
Given: sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
Expected output: {'city': 'New york', 'age': 25}
4. Write a Python program to check if value 200 exists in the following dictionary.
    Given: sample_dict = {'a': 100, 'b': 200, 'c': 300}
Expected output: 200 present in a dict
5. Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
Expected output: Math
6. Write a program to rename a key city to a location in the following dictionary.
Given: sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
Expected output: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [172]:
emp = {}

In [173]:
emp

{}

In [160]:
k = ['name','age','salary','dept']

# fromkeys() method 
The fromkeys method in Python is used to create a new dictionary with specified keys and a common value. This can be particularly useful when you need to initialize a dictionary with a set of keys and a default value.

In [176]:
emp=emp.fromkeys(k,'unmamed')

In [177]:
emp

{'name': 'unmamed', 'age': 'unmamed', 'salary': 'unmamed', 'dept': 'unmamed'}

In [179]:
emp['age'] = 36

In [180]:
emp

{'name': 'unmamed', 'age': 36, 'salary': 'unmamed', 'dept': 'unmamed'}

In [136]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30,40]
l1 = [100,200,300]

list(zip(keys,values,l1))

[('Ten', 10, 100), ('Twenty', 20, 200), ('Thirty', 30, 300)]

In [162]:
detail

{'name': 'pooja',
 'age': 38,
 'salary': 35000,
 'hobby': ['coding', 'puzzle'],
 'gender': 'female'}

# setdefault() method

In [163]:
detail.setdefault('name')

'pooja'

In [164]:
detail.setdefault('dept')

In [165]:
detail

{'name': 'pooja',
 'age': 38,
 'salary': 35000,
 'hobby': ['coding', 'puzzle'],
 'gender': 'female',
 'dept': None}

In [167]:
detail['dept'] = 'IT'

In [168]:
detail

{'name': 'pooja',
 'age': 38,
 'salary': 35000,
 'hobby': ['coding', 'puzzle'],
 'gender': 'female',
 'dept': 'IT'}

1. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value
        keys = ['Ten', 'Twenty', 'Thirty']
        values = [10, 20, 30]
        Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [185]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

d1=dict(list(zip(keys,values)))
print(d1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [182]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
final = {}
for i in range(len(keys)):
    final[keys[i]] = values[i]
print(final)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [184]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
{keys[i]:values[i] for i in range(len(keys))}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [22]:
student = {1:{'name':'pooja','age':38},2:{'name':'Abhay','age':21}}

In [23]:
student[1]

{'name': 'pooja', 'age': 38}

In [24]:
student[3]={'name':'twinkle','age':26}

In [25]:
student

{1: {'name': 'pooja', 'age': 38},
 2: {'name': 'Abhay', 'age': 21},
 3: {'name': 'twinkle', 'age': 26}}

In [26]:
student[4]= dict([('name','nancy'),('age',20)])

In [27]:
student

{1: {'name': 'pooja', 'age': 38},
 2: {'name': 'Abhay', 'age': 21},
 3: {'name': 'twinkle', 'age': 26},
 4: {'name': 'nancy', 'age': 20}}

In [28]:
student[5] = dict(name='sachin',age=21)

In [9]:
student

{1: {'name': 'pooja', 'age': 38},
 2: {'name': 'Abhay', 'age': 21},
 3: {'name': 'twinkle', 'age': 26},
 4: {'name': 'nancy', 'age': 20},
 5: {'name': 'sachin', 'age': 21}}

# Access Items in Nested Dictionaries

In [29]:
student

{1: {'name': 'pooja', 'age': 38},
 2: {'name': 'Abhay', 'age': 21},
 3: {'name': 'twinkle', 'age': 26},
 4: {'name': 'nancy', 'age': 20},
 5: {'name': 'sachin', 'age': 21}}

In [12]:
student[3]['name']

'twinkle'

In [17]:
print("*"*50,"\n","STUDENT DETAILS".center(50),"\n","*"*50,sep="")
print(" "*5,"ROLL NO"," "*5,"NAME"," "*10,"AGE")

for i in student:
    print(" "*7,i," "*7,student[i]['name']," "*10,student[i]['age'])

**************************************************
                 STUDENT DETAILS
**************************************************
      ROLL NO       NAME            AGE
        1         pooja            38
        2         Abhay            21
        3         twinkle            26
        4         nancy            20
        5         sachin            21

In [18]:
student

{1: {'name': 'pooja', 'age': 38},
 2: {'name': 'Abhay', 'age': 21},
 3: {'name': 'twinkle', 'age': 26},
 4: {'name': 'nancy', 'age': 20},
 5: {'name': 'sachin', 'age': 21}}

In [30]:
for i in student:
    hobby = input(f"Enter the hobby for roll no {i}::").split(",")
    student[i]['hobby'] = hobby

Enter the hobby for roll no 1:: coding,puzzle
Enter the hobby for roll no 2:: coding,cricket
Enter the hobby for roll no 3:: reading
Enter the hobby for roll no 4:: reading,cooking,coding
Enter the hobby for roll no 5:: cricket,coding

In [31]:
student

{1: {'name': 'pooja', 'age': 38, 'hobby': ['coding', 'puzzle']},
 2: {'name': 'Abhay', 'age': 21, 'hobby': ['coding', 'cricket']},
 3: {'name': 'twinkle', 'age': 26, 'hobby': ['reading']},
 4: {'name': 'nancy', 'age': 20, 'hobby': ['reading', 'cooking', 'coding']},
 5: {'name': 'sachin', 'age': 21, 'hobby': ['cricket', 'coding']}}

# DELETING ITEMS FROM NESTED DICTIONARY

In [32]:
student

{1: {'name': 'pooja', 'age': 38, 'hobby': ['coding', 'puzzle']},
 2: {'name': 'Abhay', 'age': 21, 'hobby': ['coding', 'cricket']},
 3: {'name': 'twinkle', 'age': 26, 'hobby': ['reading']},
 4: {'name': 'nancy', 'age': 20, 'hobby': ['reading', 'cooking', 'coding']},
 5: {'name': 'sachin', 'age': 21, 'hobby': ['cricket', 'coding']}}

In [33]:
student.popitem()

(5, {'name': 'sachin', 'age': 21, 'hobby': ['cricket', 'coding']})

In [34]:
student.pop(3)

{'name': 'twinkle', 'age': 26, 'hobby': ['reading']}

In [35]:
student

{1: {'name': 'pooja', 'age': 38, 'hobby': ['coding', 'puzzle']},
 2: {'name': 'Abhay', 'age': 21, 'hobby': ['coding', 'cricket']},
 4: {'name': 'nancy', 'age': 20, 'hobby': ['reading', 'cooking', 'coding']}}

In [37]:
student[4].pop('hobby')

['reading', 'cooking', 'coding']

In [38]:
student

{1: {'name': 'pooja', 'age': 38, 'hobby': ['coding', 'puzzle']},
 2: {'name': 'Abhay', 'age': 21, 'hobby': ['coding', 'cricket']},
 4: {'name': 'nancy', 'age': 20}}

In [39]:
student.clear()

In [40]:
student

{}

In [41]:
del student

In [42]:
student

NameError: name 'student' is not defined

# Dictionaries:
- Create a dictionary.
- Access values using keys.
- Add or update key-value pairs.
- Remove items from a dictionary.
- Check if a key exists in a dictionary.
- Iterate through dictionary keys and values.
- Convert a list of tuples into a dictionary.
- Find the length of a dictionary

total = monthly salary
budget= {'cat1':amt,'cat2':amt,'cat3':amt}
expense= {'cat1':{'sub1':amt,'sub2':amt}}

In [47]:
salary = int(input("Enter the monthly salary::"))
budget = {}
while True:
    cat = input("Enter the category").lower()
    if not cat.isalpha():
        print("invalid category name")
        continue
        
    amt = int(input(f"Enter the amount for {cat}:::"))
    if amt<=salary:
        if cat in budget:
            budget[cat] = budget[cat] + amt
        else:
            budget[cat] = amt
        salary -= amt
    else:
        print("Not enough balance")
    op = input("Do you want to add more category(y/n)::")
    if op.lower() == 'n':
            print(budget)
            break
    elif op.lower() == 'y':
        continue
    else:
        print("Invalid option")

Enter the monthly salary:: 20000
Enter the category food
Enter the amount for food::: 5000
Do you want to add more category(y/n):: y
Enter the category 3145

invalid category name

Enter the category clothing
Enter the amount for clothing::: 2000
Do you want to add more category(y/n):: n

{'food': 5000, 'clothing': 2000}

In [46]:
salary

22800

In [ ]:
expense= {}

cat = 'food'
detail = 'veg'
amt = 100

expense[cat][detail]=100